body {
    width: 900px;
}
.market {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
}

.styleBasket {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: burlywood;
}

.btnBuy {
    display: inline-block;
    width: 100px;
    margin: 10px;
    border: 1px solid green;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    outline: none;
    background-color: grey;
    color: honeydew;
}

.box {
    text-align: center;
}